:root {
    --nav-bg: #ecebe1;
    --nav-text: #35afaa;
}

.dark-theme {
    --nav-bg: #3c3d3f;
    --nav-text: #ecebe1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
    color: var(--nav-text);
    background-color: var(--nav-bg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 1.5rem;
    font-weight: 800;
}

.theme-switcher {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background: none;
    color: inherit;
}